
    <header>
      <nav class="storyline-nav {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="nav-inner">
          <a class="nav-name" href="{{ '/' | relative_url }}">{{ site.first_name }} {{ site.last_name }}</a>
          <div class="nav-links">
            <a href="{{ '/' | relative_url }}" {% if page.permalink == '/' %}class="active"{% endif %}>Home</a>
            <a href="{{ '/publications/' | relative_url }}" {% if page.url contains 'publications' %}class="active"{% endif %}>Publications</a>
            {%- if site.enable_darkmode %}
            <button id="light-toggle" title="Change theme">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
            </button>
            {%- endif %}
          </div>
        </div>
      </nav>
{%- if site.enable_progressbar %}
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
{%- endif %}
    </header>
